aside {
  width: 40%;
  margin-top: 100px;
  padding: 0 40px;
  position: relative;

  .image-container {
    width: 455px;
    position: absolute;
    top: -30px;
    left: 0;
  }

  .aside-content {
    background: $primaryBackgroundBlack;
    padding: 430px 20px 20px 20px;
  }

  .featured {
    margin-bottom: 50px;
  }

  .recent {
    ul {
      list-style-type: disc;
      list-style-position: inside;
      padding-left: 20px;

      li {
        margin-bottom: 20px;
      }
    }
  }
}
