.blog-main {
  display: flex;
  background: $primaryBackgroundGreen;
}

// groups the blog sections and comment section and divides it from the aside
.blog-divider {
  width: 60%;
}

section.blog {
  display: flex;
  flex-direction: column;
  border-left: 5px solid $primaryYellow;
  border-bottom: 5px solid $primaryYellow;
  position: relative;
  padding: 30vw 0 50px 0;

  .image-container {
    position: absolute;
    top: -150px;
    right: 0;
    width: calc(100% - 15px);
    @include box-shadow-left;
  }

  h2 {
    @include fontSize(40);
  }

  .date {
    font-weight: 700;
  }

  p {
    padding-bottom: 30px;
  }
}

section.comments {
  margin: 50px 0 100px 0;

  .cards {
    display: flex;
    margin-bottom: 80px;

    .image-container {
      width: 92px;
      flex-shrink: 0;
      margin-top: 10px;
      margin-right: 40px;
    }
  }
}

// responsive

// layout change
@include mq($max-width: 900px) {
  .blog-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.blog {
    padding: 40vw 0 50px 0;

    .image-container {
      display: static;
    }
  }

  .blog-divider {
    width: 80%;
  }
}

@include mq($max-width: 800px) {
  .blog-main {
    h2,
    .yellow {
      line-height: 50px;
    }
  }
}

@include mq($max-width: 700px) {
  section.blog {
    padding: 33vw 0 50px 0;
  }
}

@include mq($max-width: 425px) {
  section.blog {
    padding: 20vw 0 50px 0;
  }
}
