.blog-main {
  display: flex;
  background: $primaryBackgroundGreen;
}

// groups the blog sections and comment section and divvies it from the aside
.blog-divider {
  width: 60%;
}

section.blog {
  display: flex;
  flex-direction: column;
  border-left: 5px solid $primaryYellow;
  border-bottom: 5px solid $primaryYellow;
  position: relative;
  padding: 500px 0 50px 0;

  .image-container {
    @include box-shadow-left;
    position: absolute;
    top: -150px;
    right: 0;
    width: calc(100% - 15px);
  }

  h2 {
    @include fontSize(40);
  }

  .date {
    font-weight: 700;
  }

  p {
    padding-bottom: 30px;
  }
}

section.comments {
  margin-top: 50px;

  .cards {
    display: flex;
    margin-bottom: 80px;

    .image-container {
      width: 92px;
      flex-shrink: 0;
      margin-top: 10px;
      margin-right: 40px;
    }
  }
}
