section.contact {
  position: relative;
  background: $primaryBackgroundGreen;
  padding: 100px 100px 300px 100px;

  .contact-info {
    width: 25%;
  }

  .socials,
  .info-email {
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    li {
      margin-right: 20px;
    }
  }

  form {
    background: $primaryBlack;
    width: 60%;
    padding: 50px;
    position: absolute;
    top: -150px;
    right: 100px;
    @include box-shadow-right;
  }
}

// responsive
@include mq($max-width: 900px) {
  section.contact {
    padding: 100px;

    .contact-info {
      padding-top: 380px;
      width: 100%;
      text-align: center;
    }

    form {
      width: 80%;
    }
  }
}

@include mq($max-width: 700px) {
  section.contact {
    form {
      right: 70px;

      input,
      textarea {
        padding: 5px;
      }

      ::placeholder {
        @include fontSize(12);
        padding: 0;
      }
    }
  }
}

@include mq($max-width: 490px) {
  section.contact {
    .contact-info {
      padding-top: 320px;
    }
    form {
      right: 50px;
    }
  }
}
