section.general-info {
  padding: 250px 0 100px 0;
  background-color: $primaryBackgroundPine;

  // icons
  .fas {
    border-radius: 50%;
    padding-top: 15px;
    width: 60px;
    height: 60px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      display: flex;
      width: 50%;
      margin-bottom: 30px;
    }
  }

  .icon-container {
    background: $primaryYellow;
    height: 60px;
    border-radius: 50%;
  }
  .content-container {
    margin-left: 20px;
    padding-right: 20px;
  }
}

// responsive
@include mq($max-width: 1150px) {
  section.general-info {
    padding: 100px 0 100px 0;
  }
}
