section.gift-card {
  padding: 180px 100px 100px 100px;
  text-align: center;
  background: $primaryBackgroundPine;
  
  p {
    text-align: left;
    margin-bottom: 50px;
  }

  h2 {
    margin-bottom: 20px;    
    color: $primaryYellow;
  }
}
