section.gift-card {
  padding: 150px 100px 100px 100px;
  text-align: center;
  background: $primaryBackgroundPine;

  p {
    text-align: left;
    margin-bottom: 50px;
  }
}

@include mq($max-width: 1150px) {
  section.gift-card {
    padding: 120px 80px 80px 80px;
    p {
      margin-bottom: 30px;
    }
  }
}

@include mq($max-width: 800px) {
  section.gift-card {
    padding: 80px 50px;
    p {
      margin-bottom: 20px;
    }
  }
}
