section.gift-card {
  padding: 180px 200px 100px 200px;
  text-align: center;
  background: $primaryBackgroundPine;

  h2,
  p {
    margin-bottom: 50px;
  }

  h2 {
    color: $primaryYellow;
  }

  p {
    text-align: left;
  }

  button {
    background: $primaryBlack;
    color: $primaryWhite;

    &:hover {
      background: $primaryYellow;
      color: $primaryBlack;
    }
  }
}
