// google fonts

// font-family: 'Josefin Sans', sans-serif;
// 400 regular, 600 semi, 700 bold
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");

// font-family: 'Barlow', sans-serif;
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

// font size
html,
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: $primaryWhite;
}

h1,
span {
  @include fontSize(69);
  line-height: 90px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  @include fontSize(45);
  text-transform: uppercase;
  font-weight: 400;
  line-height: 99.8px;
}

h3 {
  @include fontSize(25);
  line-height: 58px;
  letter-spacing: 0.8px;
}

p {
  font-family: "Barlow", sans-serif;
  @include fontSize(20);
  font-weight: 400;
  line-height: 28px;
}

// icons
.fas {
  @include fontSize(30);
  color: $primaryBlack;
}

// nav
nav a {
  @include fontSize(20);
  color: $primaryWhite;
  line-height: 29px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
}

// button
button {
  @include fontSize(22.4);
  line-height: 41.6px;
  text-align: center;
  padding: 10px 20px;
  background: $primaryYellow;
  color: $primaryBlack;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  margin: 0;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: $primaryWhite;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
// end of button

// wrapper
.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

// image
img {
  width: 100%;
  display: block;
}
