// google fonts

// font-family: 'Josefin Sans', sans-serif;
// 400 regular, 600 semi, 700 bold
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");

// font-family: 'Barlow', sans-serif;
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

// font size
html,
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: $primaryWhite;
}

h1,
h2,
h3,
button,
input[type="submit"] {
  text-transform: uppercase;
}

h1,
span {
  @include fontSize(69);
  line-height: 90px;
  font-weight: 600;
}

h2 {
  @include fontSize(40);
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0.8px;
}

// h2 with yellow color
.yellow {
  @include fontSize(45);
  line-height: 99.8px;
  color: $primaryYellow;
}

h3 {
  @include fontSize(25);
  line-height: 58px;
  letter-spacing: 0.8px;
  color: $primaryYellow;
}

h4 {
  @include fontSize(20);
  line-height: 30px;
  letter-spacing: 0.8px;
  color: $primaryYellow;
}

p {
  font-family: "Barlow", sans-serif;
  @include fontSize(20);
  font-weight: 400;
  line-height: 28px;
  color: $primaryWhite;
}

// icons
.fas {
  @include fontSize(30);
  text-align: center;
  color: $primaryBlack;
}
.fab {
  color: $primaryYellow;
}
.fab:hover.fab:before {
  color: $primaryWhite;
}

// nav

nav a {
  @include fontSize(20);
  color: $primaryWhite;
  line-height: 29px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
}

nav {
  padding: 50px 0;
  width: 60%;
  ul {
    display: flex;
    li {
      margin: 0 20px;
    }
  }
}

// button
button,
input[type="submit"] {
  @include fontSize(22.4);
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.8px;
  padding: 0 10px;
  background: $primaryYellow;
  color: $primaryBlack;
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: all 250ms ease-in-out, transform 150ms ease;
}

// buttons with inverted colors
.inverted {
  color: $primaryWhite;
  background: $primaryBlack;
  &:hover,
  &:focus {
    background: $primaryYellow;
    color: $primaryBlack;
  }
}

button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: $primaryWhite;
}

button:focus {
  outline: 2px solid red;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
// end of button

// wrapper
.wrapper {
  max-width: 1440px;
  width: 82%;
  margin: 0 auto;
}

// image
img {
  width: 100%;
  display: block;
}

// remove focus box
*:focus {
  outline: 0;
}

// form styles
form {
  display: flex;
  flex-direction: column;

  input,
  textarea {
    background: none;
    border: none;
    margin: 20px 10px;
    padding: 20px;
    color: $primaryWhite;

    &::placeholder {
      padding: 0 20px;
    }
  }

  input {
    border-bottom: 1px solid $primaryYellow;
  }

  .user-info {
    display: flex;
  }

  .name,
  .email {
    width: 50%;
  }

  textarea {
    border: 1px solid $primaryYellow;
  }
}
