@include mq($max-width: 1300px) {
  h1,
  span {
    @include fontSize(60);
  }

  h2,
  .yellow {
    @include fontSize(35);
    line-height: 48px;
  }
}
// end of 1300

@include mq($max-width: 1200px) {
  h1,
  span {
    @include fontSize(55);
  }
}
// end of 1200

@include mq($max-width: 1150px) {
  h1,
  span {
    @include fontSize(55);
  }

  h2,
  .yellow {
    @include fontSize(30);
    line-height: 38px;
  }

  p {
    @include fontSize(18);
    line-height: 28px;
  }
}
// end of 1150

@include mq($max-width: 900px) {
  .wrapper {
    width: 90%;
  }
  h1,
  span {
    @include fontSize(60);
    line-height: 90px;
  }

  h2,
  .yellow {
    @include fontSize(30);
    line-height: 48px;
  }

  p {
    @include fontSize(16);
    line-height: 28px;
  }

  button,
  input[type="submit"] {
    @include fontSize(18);
    line-height: 38px;
  }
}
// end of 900

@include mq($max-width: 800px) {
  h2,
  .yellow {
    @include fontSize(25);
    line-height: 30px;
  }

  button,
  input[type="submit"] {
    @include fontSize(16);
    line-height: 30px;
  }
}
// end of 800

@include mq($max-width: 700px) {
  h2,
  .yellow {
    @include fontSize(35);
    line-height: 50px;
  }

  p {
    @include fontSize(18);
    line-height: 28px;
  }
}
// end of 700

@include mq($max-width: 425px) {
  h1,
  span {
    @include fontSize(45);
    line-height: 80px;
  }

  h2,
  .yellow {
    @include fontSize(30);
    line-height: 48px;
  }

  h3 {
    @include fontSize(20);
    line-height: 28px;
  }

  p {
    @include fontSize(16);
    line-height: 28px;
  }

  button,
  input[type="submit"] {
    @include fontSize(16);
    line-height: 38px;
  }
}
// end of 425
