// home page header
header {
  background: url("../assets/home-header.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 697px;
  padding-top: 50px;

  .image-container {
    position: absolute;
    right: 0;
    width: 53%;
    top: 35%;
  }

  h1 {
    width: 40%;
  }

  span {
    color: $primaryBlack;
    position: relative;
    z-index: 2;

    // restaurant white border
    &::before {
      @include pseudo;
      background: $primaryWhite;
      width: calc(100% + 10px);
      top: -15px;
      right: 0;
      bottom: 0;
      left: -5px;
      z-index: -1;
    }
  }
}

// responsive
@include mq($max-width: 1200px) {
  header {
    nav {
      background: rgba($primaryBlack, $alpha: 0.3);
      border-radius: 40px;
    }

    .image-container {
      width: 50%;
      top: 50%;
    }
  }
}

@include mq($max-width: 900px) {
  header {
    background-size: cover;
    padding-top: 20px;

    .image-container {
      width: 55%;
    }
  }

  nav {
    border-radius: 40px;
    width: 100%;
  }

  ul {
    justify-content: center;
  }
}

@include mq($max-width: 800px) {
  header {
    nav.desktop-nav {
      width: 50vw;
    }
  }
}

@include mq($max-width: 600px) {
  header {
    .image-container {
      top: 55%;
    }
  }
}

@include mq($max-width: 425px) {
  header {
    .image-container {
      width: 70%;
      top: 55%;
    }
  }
}

// blog page header
.blog-header {
  background: url("../assets/blog-header.jpg");
  background-position: left;
  height: 578px;
  h1 {
    padding-left: 20px;
    background: rgba($primaryBlack, $alpha: 0.3);
    border-radius: 40px;
    width: 30%;
  }
}

@include mq($max-width: 1024px) {
  .blog-header {
    background-position: center;
    background-size: cover;
    height: 60vh;
  }
}

@include mq($max-width: 700px) {
  .blog-header {
    h1 {
      padding: 0 50px;
      width: 100%;
      text-align: center;
    }
  }
}

@include mq($max-width: 490px) {
  .blog-header {
    background-position: top;
    background-size: cover;
    height: 40vh;
  }
}

// contact page header
.contact-header {
  background: url("../assets/contact-header.jpg");
  background-position: right;
  background-size: cover;
  height: 567px;
  h1 {
    width: 100%;
  }
}

// responsive
@include mq($max-width: 700px) {
  .contact-header {
    h1 {
      text-align: center;
    }
  }
}
