// home page header
header {
  background: url("../assets/home-header.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 697px; // matching the header-img
  padding-top: 50px;

  .image-container {
    position: absolute;
    right: 0;
    width: 53%;
    top: 35%;
  }

  h1 {
    width: 40%;
  }

  span {
    color: $primaryBlack;
    position: relative;
    z-index: 2;

    // restaurant white border
    &::before {
      @include pseudo;
      background: $primaryWhite;
      width: calc(100% + 10px);
      top: -15px;
      right: 0;
      bottom: 0;
      left: -5px;
      z-index: -1;
    }
  }
}

// blog page header
.blog-header {
  background: url("../assets/blog-header.jpg");
  background-position: left;
  height: 578px;
  h1 {
    padding-left: 20px;
  }
}

// contact page header
.contact-header {
  background: url("../assets/contact-header.jpg");
  background-position: right;
  background-size: cover;
  height: 567px;
  h1 {
    width: 100%;
  }
}
