section.cafe {
  background: url("../assets/banner.jpg");
  height: 500px;
}

section.three-images {
  background: $primaryBackgroundBlack;
  padding: 100px 0;
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    img {
      margin: 0 20px;
    }
  }
}
