section.nature {
  padding: 100px 0;
  background: $primaryBackgroundBlack;

  .container {
    display: flex;
    position: relative;
  }
  .nature-image {
    width: 300px;
    position: absolute;
    top:-30px;
    -webkit-box-shadow: -30px -30px 0px -10px $primaryYellow;
    box-shadow: -30px 30px 0px -10px $primaryYellow;
  }

  .nature-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 30%;

    h2,
    p {
      margin-bottom: 20px;
    }

    button {
      align-self: flex-start;
    }
  }
}
