section.nature {
  padding: 100px 0;
  background: $primaryBackgroundPine;

  .container {
    display: flex;
    position: relative;
  }
  
  .nature-image {
    width: 300px;
    position: absolute;
    top: 30px;
    @include box-shadow-left;
  }

  .nature-content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 30%;

    p {
      margin-bottom: 30px;
    }

    button {
      align-self: flex-start;
    }
  }
}
