// nav

nav.desktop-nav {
  padding: 50px 0;
  width: 45vw;

  a {
    @include fontSize(20);
    color: $primaryWhite;
    line-height: 29px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;

    &:hover {
      color: $primaryYellow;
      transition: all 250ms ease-in-out, transform 150ms ease;
    }
  }

  ul {
    display: flex;
  }

  li {
    margin: 0 20px;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      height: 2px;
      /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
      bottom: -4px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 50%;
      background: $primaryBackgroundGreen;

      /* optional animation */
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }

    &:hover:after {
      width: 80%;
      background: $primaryYellow;
    }
  }
}

// hamburger nav
.hamburger,
.hamburger-nav {
  display: none;
}

.hamburger {
  @include fontSize(45);
  margin: 10px;
  color: $primaryWhite;
  text-align: left;
}

// credits to  Bryan Willis and his codePen

@include mq($max-width: 490px) {
  .hamburger-nav {
    display: block;
  }

  header {
    ul.nav {
      background: black;
      position: fixed;
      z-index: 10;
      width: 100%; /*note how width and right are the same values*/
      right: -100%; /* Off the screen as wide as you are */
      top: 10%;
      height: 50%;
      transition: all 0.5s; /* magic to animate it */
    }

    ul.nav a {
      border-bottom: 1px solid grey;
      display: inline-block;
      font-size: 40px;
      width: 100%;
      padding: 20px;
      transition: all 0.3s; /*we also transition the background colour here*/
    }

    ul.nav a:hover,
    ul.nav a:focus {
      background: #3498db;
    }

    /*  When the input is checked
  grab the next sibling nav with the + selector
*/
    input[type="checkbox"]:checked + ul.nav {
      right: 0; /*when the checkbox is checked, put the ul.nav back to right: 0; It was at right:-30%;*/
    }

    input[type="checkbox"] {
      display: none; /*hide the input, we don't need to see it */
    }

    label[for="toggle"] {
      /*position the menu so that it doesn't slide off screen when we open it*/
      position: fixed;
      top: 10px;
      left: 10px;
      color: white;
      z-index: 10;
    }
  }
}
