// nav

nav.desktop-nav {
  padding: 50px 0;
  width: 45vw;

  a {
    @include fontSize(20);
    color: $primaryWhite;
    line-height: 29px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;

    &:hover {
      color: $primaryYellow;
      transition: all 250ms ease-in-out, transform 150ms ease;
    }
  }

  ul {
    display: flex;
  }

  li {
    margin: 0 20px;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      height: 2px;
      bottom: -4px;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 50%;
      background: $primaryBackgroundGreen;

      /* optional animation */
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
    }

    &:hover:after {
      width: 80%;
      background: $primaryYellow;
    }
  }
}

// hamburger nav
.hamburger,
.hamburger-nav {
  display: none;
}

.hamburger-nav i {
  @include fontSize(50);
  margin: 10px;
  color: $primaryWhite;
  text-align: right;
}

// credits to  Bryan Willis and his codePen

@include mq($max-width: 700px) {
  .hamburger-nav {
    display: block;
  }

  header {
    ul.nav {
      background: black;
      position: fixed;
      z-index: 10;
      width: 50%;
      right: -500%;
      top: 15%;
      height: 50%;
      padding: 20px;
      border-top-left-radius: 40px;
      transition: all 0.5s;
    }

    ul.nav a {
      color: $primaryWhite;
      display: inline-block;
      @include fontSize(20);
      width: 100%;
      padding: 20px;
      transition: all 0.3s; /*we also transition the background colour here*/
    }

    ul.nav a:hover,
    ul.nav a:focus {
     border-bottom: 2px solid $primaryYellow;


    }

    /*  When the input is checked
  grab the next sibling nav with the + selector
*/
    input[type="checkbox"]:checked + ul.nav {
      right: 0; 
    }

    input[type="checkbox"] {
      display: none;
    }

    label[for="toggle"] {
      position: fixed;
      top: 10px;
      right: 10px;
      color: white;
      z-index: 10;
    }
  }
}
