section.split-info {
  background: $primaryBackgroundBlack;
  position: relative;
  padding: 80px 0 50px 0;

  .burger-image,
  .something-new-image {
    position: absolute;
    width: 43%;
  }

  .burger-image {
    @include box-shadow-right;
    top: -40px;
    left: 0;
  }

  .something-new-image {
    @include box-shadow-left;
    bottom: -50px;
    right: 0;
  }

  .burger {
    margin-left: 45vw;
    padding-bottom: 80px;
  }
  .something-new {
    margin-right: 45vw;
    text-align: right;
  }

  p {
    margin-bottom: 50px;
  }
}

// responsive
@include mq($max-width: 1300px) {
  section.split-info {
    padding: 50px 0 40px 0;

    .burger {
      margin-left: 40vw;
    }
    .something-new {
      margin-right: 40vw;
    }
    .something-new-image {
      bottom: -40px;
    }
    p {
      margin-bottom: 30px;
    }
  }
}
