section.split-info {
  background: $primaryBackgroundBlack;
  position: relative;

  .burger-image,
  .something-new-image {
    position: absolute;
    width: 43%;
  }

  .burger-image {
    @include box-shadow-right;
    top: -40px;
    left: 0;
  }

  .something-new-image {
    @include box-shadow-left;
    bottom: -50px;
    right: 0;
  }

  .burger {
    padding: 80px 0;

  }
  .something-new {
    // margin-top: 30px;
    padding-bottom: 50px;
  }

  p {
    margin-bottom: 50px;
  }

  .burger {
    margin-left: 60%;
  }
  .something-new {
    margin-right: 60%;
    text-align: right;
  }
}
