// variables

// font colours + pseudo states
$primaryYellow: #FFD300; // 15, 15, 15
$primaryBlack: #0F0F0F;
$primaryWhite: #ffffff; // 255, 255, 255

// Hover
$primaryHoverRed: #e06666;
$primaryHoverBlack: #6c717d;

// background colors
$primaryBackgroundPine: #2B331B; // 43, 51, 27
$primaryBackgroundBlack: #171B0E; // 15, 15, 15
$navFooterBackground: #444444;

// anchor tags on hover & focus
$anchorTagHoverFocus: "a:focus, a:hover";

// mixins/functions

// font sizes turn into rem values
@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/10) * 1rem / 2;
}

// Centering
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Positioning
@mixin position($type, $top, $right, $bottom, $left) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
