// variables

// font colours + pseudo states
$primaryYellow: #ffd300;
$primaryBlack: #0F0F0F;
$primaryWhite: #ffffff;

// background colors
$primaryBackgroundPine: #2b331b;
$primaryBackgroundGreen: #364419;
$primaryBackgroundBlack: #171B0E;

// anchor tags on hover & focus
$anchorTagHoverFocus: "a:focus, a:hover";

// mixins

// font sizes turn into rem values
@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/10) * 1rem / 2;
}

// Centering
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Positioning
@mixin position($type, $top, $right, $bottom, $left) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Pseudo
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin box-shadow-left {
  -webkit-box-shadow: -30px -30px 0px -10px $primaryYellow;
    box-shadow: -30px 30px 0px -10px $primaryYellow;
}

@mixin box-shadow-right {
  -webkit-box-shadow: 30px 30px 0px -10px $primaryYellow;
  box-shadow: 30px 30px 0px -10px $primaryYellow;
}


