// variables

// font colours
$primaryYellow: #ffd300;
$primaryBlack: #0F0F0F;
$primaryWhite: #ffffff;

// background colors
$primaryBackgroundBlack: #171B0E;
$primaryBackgroundPine: #2b331b;
$primaryBackgroundGreen: #364419;

// mixins

// font sizes turn into rem values
@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/10) * 1rem / 2;
}

// Centering
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Pseudo
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

// box-shadows
@mixin box-shadow-left {
  -webkit-box-shadow: -30px -30px 0px -10px $primaryYellow;
    box-shadow: -30px 30px 0px -10px $primaryYellow;
}

@mixin box-shadow-right {
  -webkit-box-shadow: 30px 30px 0px -10px $primaryYellow;
  box-shadow: 30px 30px 0px -10px $primaryYellow;
}


